<h1>New Contact</h1>

<% if @contact.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
    <% @contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<form action="/contacts" method="post">
  <label for="contact_name">Name</label>
  <input id="contact_name" name="contact[name]" type="text" value="<%= @contact.name %>">
  <label for="contact_phone">Phone</label>
  <input id="contact_phone" name="contact[phone]" type="text" value="<%= @contact.phone %>">
  <label for="contact_email">Email</lable>
  <input id="contact_email" name="contact[email]" type="text" value="<%= @contact.email %>">
  <button>Create Contact</button>
</form>
